<div layout="row" layout-align="space-between center">
    <h1>Summary</h1>
</div>

<div layout="column">
    <div ng-repeat="item in viewModel.items track by $index" layout="column" layout-margin>
        <div layout="row">
            {{item.name}}
            {{item.price | currency}}
        </div>
        <md-divider></md-divider>
    </div>
    <div layout-margin layout="row">
        {{viewModel.deliveryOption.type}}
        {{viewModel.deliveryOption.price}}
    </div>  

    <div>
        <md-subheader class="md-primary md-no-sticky">
            Total: {{viewModel.total | currency}}
        </md-subheader>
    </div>

    <div layout="row" layout-align="space-between center">
        <md-button class="md-primary md-raised" ng-click="back()">Back</md-button>
        <md-button class="md-primary md-raised" ng-click="purchase()">Purchase</md-button>
    </div>
</div>



