<div layout="row" layout-align="space-between center">
    <h1>Summary</h1>
</div>

<div layout="column">

    <div ng-repeat="item in viewModel.items track by $index" layout="column" layout-margin>
        <div layout="row" layout-align="space-between center">
            {{item.name}}
            {{item.price | currency}}
            <md-button ng-click="remove(item)" class="md-primary md-raised">Remove</md-button>
        </div>
        <md-divider></md-divider>
    </div>
    
    <md-subheader ng-if="viewModel.hasItems == false" class="md-warn md-no-sticky">No items in basket</md-subheader>

    <div layout-margin layout="row" ng-if="viewModel.items.length >= 1">
        Delivery option: 
        {{viewModel.deliveryOption.type}}
        {{viewModel.deliveryOption.price | currency}}
    </div>  

    <div ng-if="viewModel.hasItems">
        <md-subheader class="md-primary md-no-sticky">
            Total: {{viewModel.total | currency}}
        </md-subheader>
    </div>

    <div layout="row" layout-align="space-between center">
        <md-button class="md-primary md-raised" ng-click="back()">Back</md-button>
        <md-button class="md-primary md-raised" ng-click="purchase()" ng-if="viewModel.hasItems == true">Purchase</md-button>
    </div>
</div>